<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <style>
        .no{
         margin-left:40%;
         margin-right:40%;
         background-color:skyblue;
         padding:50px;
        }

    </style>
</head>
<body>
<h1>I am home page</h1>
<form action="check" method="get">
    <label for="firstname">first name</label>
    <input name="firstname" id="firstname" type="text">
    <br>
    <label for="lastname">last name</label>
    <input name="lastname"  id="lastname" type="text">

    <label for="capitalall">capitalall</label>
    <input name="capitalall" id="capitalall" type="checkbox">

    <label for="camelcase">camelcase</label>
    <input name="camelcase" id="camelcase" type="checkbox">

    <button onclick="submit">submit</button>


</form>






<form action="number" method="get">
 <div class="no">
    <h1>find if number is </h1>
    <label for="palandrome">palandrome</label>
    <input name="palandrome" id="palandrome" type="checkbox">
    <label for="armstrong">armstrong</label>
    <input name="armstrong" id="armstrong" type="checkbox">
    <label for="strong">strong</label>
    <input name="strong" id="strong" type="checkbox">
     <br>
    <input name="number" type="text">
     <br>

    <button onclick="submit">submit</button>
</div>



</form>
</body>
</html>